{{> header}}

<h2>Forget Password</h2>
  <form action="/forgot" method="POST">
    <div class="form-group">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email" autofocus="true">
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
    
    </div> <!--Container-->

{{> footer-end}}